<!DOCTYPE html>
<html>
<head>
  <title>Realtime</title>
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= realtime_support %>
  <%= custom_script %>
  <%= custom_handler %>
  <%= realtime_message_handler %>
</head>
<body>


<div class="container">
  <h3>Странный способ проверить сокеты (rails, node.js, socket.io)</h3>

  <%= yield %>
</div>
</body>
</html>
